USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_Menu]    Script Date: 16/09/2018 6:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_Menu] 
@MENU_ID bigint
AS
BEGIN
    SELECT MENU.MENU_ID, MENU_ITEM.MENU_ITEM_ID,  MEAL.MEAL_ID, [MENU].[MENU_NAME], [MENU].[MENU_DESCRIPTION], MEAL_NAME, MEAL_DESCRIPTION, MEAL_UNIT_PRICE, MEAL_UNIT_DESCRIPTION
	FROM [dbo].[MENU]
	LEFT JOIN [dbo].[MENU_ITEM] on [MENU_ITEM].[MENU_ID] = [MENU].[MENU_ID]
	LEFT JOIN [dbo].[MEAL] on MEAL.MEAL_ID = MENU_ITEM.MEAL_ID
	WHERE [MENU].[MENU_ID] = @MENU_ID
END
GO
