USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_Restaurant_By_Owner]    Script Date: 7/10/2018 12:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[P_RPT_Restaurant_By_Owner]
@USERS_ID BIGINT
AS
BEGIN
    SELECT RESTAURANT_ID, RESTAURANT_NAME, RESTAURANT_DESCRIPTION
	FROM [dbo].[RESTAURANT]
	INNER JOIN [dbo].[OWNERS] on Owners.OWNERS_ID = RESTAURANT.OWNERS_ID
	WHERE OWNERS.USERS_ID = @USERS_ID
END
GO
