USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_Restaurant_Details]    Script Date: 7/10/2018 12:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_Restaurant_Details] 
@RESTAURANT_ID bigint
AS
BEGIN
    SELECT [RESTAURANT_NAME], [RESTAURANT_DESCRIPTION], [MENU_NAME], [MENU_DESCRIPTION], [MENU].MENU_ID, RESTAURANT.RESTAURANT_IMAGE
	FROM [dbo].[RESTAURANT]
	INNER JOIN [dbo].[MENU] on [MENU].MENU_ID = RESTAURANT.MENU_ID
	WHERE [RESTAURANT_ID] = @RESTAURANT_ID
END



GO
