USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_BOOKINGS_FOR_RESTAURANT_BY_DATE]    Script Date: 7/10/2018 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_BOOKINGS_FOR_RESTAURANT_BY_DATE]
@RESTAURANT_ID bigint,
@REPORTING_DATE DATE
AS
BEGIN

    SELECT [BOOKING_ID], [BOOKING_DATE_AND_TIME], [BOOKING_COUNT_PEOPLE], [TABLE_ID]
	FROM BOOKING
	WHERE RESTAURANT_ID = @RESTAURANT_ID
	    AND [BOOKING_IS_ACTIVE] = 1
		AND CAST([BOOKING_DATE_AND_TIME] as date) = @REPORTING_DATE
END
GO
