USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_IMP_Restaurant]    Script Date: 7/10/2018 10:55:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[P_IMP_Restaurant]
@RESTAURANT_NAME VARCHAR(50),
@RESTAURANT_DESCRIPTION varchar(255),
@OWNERS_ID BIGINT,
@MENU_ID BIGINT,
@RESTAURANT_IMAGE NVARCHAR(400)
AS
BEGIN

INSERT INTO RESTAURANT
([RESTAURANT_NAME], [RESTAURANT_DESCRIPTION], [OWNERS_ID], [MENU_ID], [RESTAURANT_IMAGE])
VALUES
(@RESTAURANT_NAME, @RESTAURANT_DESCRIPTION, @OWNERS_ID, @MENU_ID, @RESTAURANT_IMAGE)

END
GO
