USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_IMP_CREATE_OWNER]    Script Date: 7/10/2018 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_IMP_CREATE_OWNER]
@USER_ID BIGINT
AS
BEGIN

IF(SELECT COUNT(*)
   FROM [dbo].OWNERS
   WHERE USERS_ID = @USER_ID) > 0
   BEGIN
       DELETE FROM [dbo].OWNERS
       WHERE USERS_ID = @USER_ID
    END

INSERT INTO [dbo].OWNERS
([USERS_ID])
VALUES
(@USER_ID)

END

GO
