USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_IMP_BOOKING]    Script Date: 16/09/2018 6:30:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_IMP_BOOKING] 
@RESTAURANT_ID BIGINT,
@CONTACT_ID BIGINT,
@TABLE_ID BIGINT,
@COUNT_PEOPLE INT,
@DATE_AND_TIME DATETIME
AS
BEGIN
    
	INSERT INTO [dbo].[BOOKING]
	([RESTAURANT_ID], [CONTACT_ID], [TABLE_ID], [BOOKING_COUNT_PEOPLE], [BOOKING_DATE_AND_TIME], [BOOKING_IS_ACTIVE])
	VALUES
	(@RESTAURANT_ID, @CONTACT_ID, @TABLE_ID, @COUNT_PEOPLE, @DATE_AND_TIME, 1)
 
END
GO
