USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_BOOKINGS_FOR_CONTACT]    Script Date: 23/09/2018 8:22:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_BOOKINGS_FOR_CONTACT]
@CONTACT_ID bigint
AS
BEGIN

    SELECT [BOOKING_ID], [BOOKING_DATE_AND_TIME], [BOOKING_COUNT_PEOPLE], [TABLE_ID]
	FROM BOOKING
	WHERE [CONTACT_ID] = @CONTACT_ID
	    AND [BOOKING_IS_ACTIVE] = 1
END
GO
