USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_IMP_FOOD_ORDER]    Script Date: 7/10/2018 12:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_IMP_FOOD_ORDER]
@BOOKING_ID BIGINT,
@MEAL_ID BIGINT,
@QUANTITY INT
AS
BEGIN

    DECLARE @ORDER_ID BIGINT

    IF (SELECT COUNT(*) FROM [dbo].[ORDERS] WHERE BOOKING_ID = @BOOKING_ID) < 1
	BEGIN
	    INSERT INTO [dbo].[ORDERS]
		([BOOKING_ID])
		VALUES
		(@BOOKING_ID)
	END

	SET @ORDER_ID = (SELECT [ORDER_ID] FROM [dbo].[ORDERS] WHERE [BOOKING_ID] = @BOOKING_ID)

	INSERT INTO [dbo].[ORDER_ITEM]
	([ORDER_ID], [MEAL_ID], [ORDER_ITEM_QUANTITY])
	VALUES
	(@ORDER_ID, @MEAL_ID, @QUANTITY)

END
GO
