USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_Available_Tables]    Script Date: 7/10/2018 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_Available_Tables] 
@RESTAURANT_ID BIGINT,
@DATE_AND_TIME DATETIME
AS
BEGIN

WITH BOOKED AS
(SELECT *
 FROM booking
 WHERE RESTAURANT_ID = @RESTAURANT_ID
 AND (@DATE_AND_TIME BETWEEN BOOKING_DATE_AND_TIME and BOOKING_END_DATE_AND_TIME)
 AND BOOKING_IS_ACTIVE = 1
 )

SELECT TABLE_ID, TABLE_SEAT_COUNT
FROM [TABLE]
WHERE TABLE_ID NOT IN (SELECT TABLE_ID FROM BOOKED)
    AND RESTAURANT_ID = @RESTAURANT_ID

END
GO
