USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_BOOKINGS_FOR_FOR_MY_RESTAURANTS]    Script Date: 7/10/2018 9:22:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_BOOKINGS_FOR_FOR_MY_RESTAURANTS]
@USER_ID bigint
AS
BEGIN

    SELECT RESTAURANT.RESTAURANT_NAME, [BOOKING_ID], [BOOKING_DATE_AND_TIME], [BOOKING_COUNT_PEOPLE], [TABLE_ID], BOOKING.BOOKING_IS_ACTIVE
	FROM BOOKING
	INNER JOIN RESTAURANT ON BOOKING.RESTAURANT_ID = RESTAURANT.RESTAURANT_ID
	INNER JOIN OWNERS ON OWNERS.OWNERS_ID = RESTAURANT.OWNERS_ID
	WHERE OWNERS.USERS_ID = @USER_ID
	    AND [BOOKING_IS_ACTIVE] = 1
		AND CAST([BOOKING_DATE_AND_TIME] as date) >= GETDATE()
END
GO
