USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_User_Details]    Script Date: 7/10/2018 12:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_User_Details]
@USERS_NAME varchar(50)
AS
BEGIN
    SELECT USERS.USERS_ID,
	       USERS.USERS_FIRST_NAME,
		   USERS.USERS_LAST_NAME,
		   CONTACT.CONTACT_EMAIL,
		   CONTACT.CONTACT_MOBILE,
		   CONTACT.CONTACT_PREFERED_CONTACT, 
		   CASE WHEN OWNERS.OWNERS_ID IS NOT NUll THEN 1
		       ELSE 0 END AS IS_OWNER
	FROM USERS
	LEFT JOIN [dbo].[CONTACT] on CONTACT.USERS_ID = USERS.USERS_ID
	LEFT JOIN [dbo].[OWNERS] on OWNERS.USERS_ID = users.USERS_ID
	WHERE USERS.USERS_NAME = @USERS_NAME
END

GO
