USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_Orders_For_Booking]    Script Date: 7/10/2018 12:58:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_RPT_Orders_For_Booking] --1
@Booking_ID bigint
AS
BEGIN

     SELECT MEAL_NAME, ORDER_ITEM_QUANTITY
     FROM BOOKING
	 INNER JOIN ORDERS ON ORDERS.BOOKING_ID = BOOKING.BOOKING_ID
	 INNER JOIN [ORDER_ITEM] ON [ORDER_ITEM].ORDER_ID = ORDERS.ORDER_ID
	 INNER JOIN MEAL ON MEAL.MEAL_ID = [ORDER_ITEM].MEAL_ID
	 WHERE BOOKING.BOOKING_ID = @Booking_ID

END
GO
