USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_IMP_CREATE_CONTACT]    Script Date: 2/09/2018 2:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_IMP_CREATE_CONTACT]
@USER_ID BIGINT,
@CONTACT_EMAIL varchar(255),
@CONTACT_MOBILE varchar(255),
@CONTACT_PREFERED_CONTACT varchar(50)
AS
BEGIN

DELETE FROM [dbo].[CONTACT]
WHERE USERS_ID = @USER_ID

INSERT INTO [dbo].[CONTACT]
([USERS_ID], [CONTACT_EMAIL], [CONTACT_MOBILE], [CONTACT_PREFERED_CONTACT])
VALUES
(@USER_ID, @CONTACT_EMAIL, @CONTACT_MOBILE, @CONTACT_PREFERED_CONTACT)

END
GO
