USE [book-a-table]
GO
/****** Object:  StoredProcedure [dbo].[P_RPT_BOOKINGS_FOR_RESTAURANT]    Script Date: 2/09/2018 2:06:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RPT_BOOKINGS_FOR_RESTAURANT]
@RESTAURANT_ID bigint
AS
BEGIN

    SELECT [BOOKING_ID], [BOOKING_DATE_AND_TIME], [BOOKING_COUNT_PEOPLE], [TABLE_ID]
	FROM BOOKING
	WHERE RESTAURANT_ID = @RESTAURANT_ID
END
GO
