USE [book-a-table]
GO
/****** Object:  Table [dbo].[RESTAURANT]    Script Date: 16/09/2018 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANT](
	[RESTAURANT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RESTAURANT_NAME] [varchar](50) NULL,
	[RESTAURANT_DESCRIPTION] [varchar](255) NULL,
	[OWNERS_ID] [bigint] NULL,
	[MENU_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[RESTAURANT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
