USE [book-a-table]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 7/10/2018 12:58:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BOOKING_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOOKING_COUNT_PEOPLE] [int] NULL,
	[TABLE_ID] [bigint] NULL,
	[CONTACT_ID] [bigint] NULL,
	[ORDER_ID] [bigint] NULL,
	[RESTAURANT_ID] [bigint] NULL,
	[BOOKING_DATE_AND_TIME] [datetime] NULL,
	[BOOKING_IS_ACTIVE] [bit] NULL,
	[BOOKING_END_DATE_AND_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOKING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
