USE [book-a-table]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 7/10/2018 12:58:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[CONTACT_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTACT_EMAIL] [varchar](255) NULL,
	[CONTACT_MOBILE] [varchar](20) NULL,
	[CONTACT_PREFERED_CONTACT] [varchar](50) NULL,
	[USERS_ID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
