USE [book-a-table]
GO
/****** Object:  Table [dbo].[TABLE]    Script Date: 16/09/2018 6:29:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE](
	[TABLE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TABLE_SEAT_COUNT] [int] NULL,
	[TABLE_NOTES] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
